li {
   list-style: none;
   margin: 0px;
}
.dispo {
   display: flex;
   height: 50px;
   grid-column: 4 / 6;
   grid-row: 1;
   margin-top: 300px;

}
.dias {
   display: flex;
   margin: 0px;
   padding: 0px;
   margin-left: 15px;
   height: 30px;
   width: 600px;
   border: 3px solid #C8DCCB;
   background-color: #EBF8EF;
   border-radius: 6px 6px 6px 6px;
}
.dia1,
.dia2,
.dia3,
.dia4, 
.dia5 {
   border-right: 3px solid #C8DCCB;
   padding-right: 34.4px;
   padding-left: 34.4px;
   padding-top: 6px;
   background-color: #EBF8EF;
   font-weight: bold;
   cursor: pointer;
}
.dia6 {
   font-weight: bold;
   padding-right: 34.4px;
   padding-left: 34.4px;
   padding-top: 6px;
   background-color: #EBF8EF;
   cursor: pointer;
}
.bx {
   display: flex;
   grid-column: 4 / 6;
   grid-row: 1;
   margin-top: 350px;
   gap: 168px;
}
.mt {
  margin: 0px;
}
.bx1,
.bx2,
.bx3,
.bx4,
.bx5, 
.bx6 {
   margin-bottom: 5px;
}

.matu,
.vesp,
.notu {
   margin: 0px;
   padding: 0px;
   margin-left: 15px;
   width: 80px;
   font-weight: 500;
   margin-bottom: 50px;
}
.ensino {
   grid-column: 4 / 5;
   grid-row: 1;
   margin-top: 280px;
   width: 600px;
   height: auto;
   margin-left: 15px; 
   position: relative;
}
.cursos,
.mate,
.tur {
   display: flex;
   margin-top: 15px;
}
span {
   font-weight: bold;
}
.es {
   display: flex;
}
.elemento {
   content: " ";
   width: 540px;
   grid-column: 4 / 7;
   margin-top: 15px;
   margin-left: 8px;
   height: 3px;
   background-color: #C8DCCB;
}
.ativo {
   display: block !important;
   z-index: 1000;
}
.ativou {
   display: flex !important;
   z-index: 2000;
}
.ativa {
   display: block !important;
   z-index: 3000;
}
/* .ativado {
   border-color: #39A048;
} */
.atv {
   fill: #39A048;
}