.barraperfil {
   grid-column: 4  / 5;
   grid-row: 1;
   margin-top: 40px;
   margin-left: 15px;
}
.barra {
   display: flex; 
   gap: 40px;
   margin: 0px;
   width: 600px;
   height: 30px;
   border: 3px solid #C8DCCB;
   border-radius: 6px 6px 6px 6px;
   place-content: center;
   align-self: center;
   place-self: center;
   place-items: center;
   font-weight: 600;
   cursor: pointer;
}
.disp {
   border-right: 3px solid #C8DCCB;
   border-left: 3px solid #C8DCCB ;
}
h6.p {
   font-weight: 400 ;
   font-size: 16px;
}
p {
   margin: 0px;
   cursor: pointer;
}
p.disp {
   padding-top: 6px;
   height: 30px;
   padding-left: 45px;
   padding-right: 48px;
   /* margin: 0px 15px 0px 15px */
}
.ftperfil {
   display: block;
   width: 200px;
   height: 150px;
   margin: 0px;
   grid-row: 1;
   grid-column: 4 / 6;
   margin-top: 100px;
   margin-left: 235px;
   
}
.circlepf {
   margin: 0px;
   margin-left: 40px;
}
.nomepf {
   margin: 0px;
}
.infor {
   grid-column: 4 / 5;
   grid-row: 1;
   margin-top: 280px;
   width: 600px;
   height: auto;
   margin-left: 15px; 
   position: relative;
}
.email,
.func,
.stt {
   display: flex;
   margin-top: 15px;
}
span {
   font-weight: bold;
}
.if {
   display: flex;
}
.elemento {
   content: " ";
   width: 480px;
   grid-column: 4 / 7;
   margin-top: 15px;
   margin-left: 8px;
   height: 3px;
   background-color: #C8DCCB;
}
.none  {
   display: none!important;
}
.nn {
   display: none;
}

